.main {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.my-navbar {
  width: 30vh;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

/*.logo{*/
/*  height: 20vh;*/
/*  text-align: center;*/
/*}*/

li {
  list-style-type: none; /* Remove bullets */
}

.project {
  width: 100vh;
}

.App-logo {
  height: 40vh;
  pointer-events: none;
}
